*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0;
    padding: 0;
}

.page {
    /*height: 297mm;
    width: 420mm;
    max-height: 842pt;
    max-width: 1191pt;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    justify-content: space-between;

    /*border: 1px solid #000;*/
    page-break-after: always;
    width: 100vw;
    height: 100vh;
}

.title {
    font-size: 66pt;
    color: red;
}

.product {
    font-size: 24pt;
}

.price {
    font-size: 42pt;
    color: red;
}


.time,
.p-unit {
    font-size: 18pt;
}

table {
    width: 100%;
}

tr {
    display: flex;
}

td {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.pricePerSI {
    font-size: 16pt;
    text-transform: lowercase;
    color: black;
}

.zl {
    font-size: 24pt;
    text-transform: lowercase;
    color: black;
}